<div class="header">
  <div class="header--name">ხინკალი <span>FLEXBOX</span></div>
  <div class="header__levels">
    <div class="header__levels--left"
         [class.header__levels--disable]="$currentLevel$()() === 1"
         (click)="changeLevel('prev')" ><</div>
    <div class="header__levels--content">ლეველები: {{$currentLevel$()()}}/{{$lessonLength$()}} </div>
    <div class="header__levels--right"
         [class.header__levels--disable]="$currentLevel$()() === $lessonLength$()"
         (click)="changeLevel('next')">></div>
  </div>
</div>
