@use 'src/assets/style/variables.scss';
@use 'src/assets/style/mixins.scss';

.header{
  width: 100%;
  height: 8vh;
  background-color: #717171;
  @include mixins.flex(center, space-around, row);
  &--name{
    font-size: 30px;
    font-family: variables.$second-font;
    span{
      font-weight: bold;
    };
  }
  &__popup{
    position: absolute;
    width: 20%;
    max-height: 200px;
    height: 100%;
    background-color: #373737;
    top: 8%;
  }
  &__levels{
    max-width: 50%;
    width: 40%;
    height: 60%;
    @include mixins.flex(center, center, row);
    &--left{
      width: 15%;
      height: 100%;
      background-color: #373737;
      @include mixins.flex(center, center, row);
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      color: white;
    }
    &--content{
      width: 70%;
      height: 100%;
      background-color: #373737;
      border-left: 1px solid white;
      border-right: 1px solid white;
      @include mixins.flex(center, center, row);

      p{
        font-family: variables.$main-font;
        font-size: 16px;
        font-weight: bold;
        color:white;
        width: 100%;
        height: 100%;
        @include mixins.flex(center, center, row);
        cursor: pointer;
      }
    }
    &--right{
      width: 15%;
      height: 100%;
      background-color: #373737;
      @include mixins.flex(center, center, row);
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      color: white;
    }
    &--disable{
      color: black;
    }
  }
}
