@use 'src/assets/style/variables.scss';
@use 'src/assets/style/mixins.scss';


.example{
  width: calc(100% - 10px);
  height: 38vh;
  background-color: #43A047;
  margin: auto;
  @include mixins.flex(space-around,space-around,column);

  ul{
    padding:20px;
    @include mixins.flex(flex-start,center,column);
    gap: 10px;
    li{
      font-family: sans-serif;
      color: white;

    }
  }
}
