@use 'src/assets/style/variables.scss';
@use 'src/assets/style/mixins.scss';


.example{
  width: calc(100% - 10px);
  height: 38vh;
  background-color: red;
  margin: auto;
  @include mixins.flex(space-around,space-around,column);

  ul{
    li{
      font-family: variables.$second-font;
      color: white;
    }
  }
}
