<div class="coding">
  <div class="coding__lines">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </div>
  <div class="coding__write-place">
    <ul>
      <li>  <pre>#khinkali {{'{'}}</pre></li>
      <li>display: flex;</li>
      <li>    <textarea type="text" [formControl]="code"  id="code" autofocus="" autocapitalize="none" spellcheck="false"></textarea></li>
      <li></li>
      <li></li>
      <li>{{'}'}}</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <button>შემდეგი</button>
</div>
