<div class="home">
  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item" *ngFor="let cards of cards">
        <div class="ag-courses-item_link">
          <div class="ag-courses-item_bg" ></div>

          <div class="ag-courses-item_title">
            {{cards.mainText}} - {{cards.lessonName}}
          </div>

          <div class="ag-courses-item_date-box">
            {{cards.quantity}}
            <span class="ag-courses-item_date">
            {{cards.numbers}}
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

